.App {
  text-align: center;
}

body{
  background-color: grey;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

/* * {
  padding: 2px;
  margin: 5px;
} */
header, nav, main, footer {
  margin: 2px;
}

main {
  display: flex;
}

nav {
  background: #1e1e1e none repeat scroll 0 0;
  border: medium none;
  border-radius: 0;
  color: white;
  display: inline-table;
  list-style: outside none none;
  margin: 0;
  padding: 10px;
  position: relative;
}

nav a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  border: 2px solid currentColor;
}

nav a:hover {
  border: 2px solid gold;
  color: gold;
  border-radius: 2px;

}

nav a.active {
  background-color: blue;
}
